@media only screen and (max-width: 768px){
    /* body{
        background-color: red;
    } */
    .main-container{
        width: 100%;
        margin: 2px 2px;
    }
    input{
        width: 5rem;
        height: 2rem;

    }
    input:hover{
        cursor: pointer;
    }
    .cont{
        padding: 0.5rem 1rem;
    }
    button{
        left: 7rem;
    }
    button:hover{
        transition: 0.5s;
        background-color: #8594e4;
        cursor: pointer;
        color: red;
    }
    .text{
        min-height: 7rem;

    }
    h1{
        position: relative;
        left: 0;
    }
}